

SELECT *,get_json_object(inputparam,'$.user_id')AS user_id,get_json_object(outputparam,'$.customer_cluster_result') AS customer_cluster_result,
get_json_object(outputparam,'$.customer_cluster_result_code') AS customer_cluster_result_code,get_json_object(inputparam,'$.customer_cluster_type') AS customer_cluster_type
,get_json_object(outputparam,'$.auth_status') AS auth_status
,get_json_object(inputparam,'$.bank_auth_status') AS bank_auth_status
,get_json_object(inputparam,'$.gjj_auth_status') AS gjj_auth_status
,get_json_object(inputparam,'$.user_flag1') AS user_flag1


CREATE TABLE policy AS
WITH td AS
 (SELECT mn,dt,tasktime,user_id,user_flag1,customer_cluster_result,customer_cluster_result_code,customer_cluster_type,auth_status,
 row_number() over (PARTITION BY user_id,SUBSTRING(tasktime,1,8) ORDER BY tasktime DESC ) AS r1 FROM policy_kyd) 
 SELECT * FROM td WHERE td.r1=1 AND td.user_flag1=1  AND (td.auth_status=1 or td.bank_auth_status=1 OR td.gjj_auth_status=1)

  
SELECT a.*,CONCAT(SUBSTRING(tasktime,1,4),'-',SUBSTRING(tasktime,5,2),'-',SUBSTRING(tasktime,7,2),' ',SUBSTRING(tasktime,9,2),':',SUBSTRING(tasktime,11,2),':',SUBSTRING(tasktime,13,2)) AS task_time
FROM policy_kyd;


 CREATE TABLE amount AS 
WITH td AS
 ( SELECT a.user_id,a.task_time,a.customer_cluster_type,b.amount,b.TYPE,ADDDATE,DATEDIFF(b.ADDDATE,a.task_time) AS DAY
 FROM  policy_kyd  a
 LEFT JOIN limit b
 ON  a.user_id =b.user_id 
 WHERE  b.ADDDATE>'2018-04-21' AND b.TYPE=2 AND b.user_type=1)
 SELECT * FROM td WHERE DAY>=0 AND DAY<=30;
 

 
